# Azure/Microsoft Graph Configuration
AZURE_CLIENT_ID=a2239be7-12cd-442d-983f-ea7e316ef767
AZURE_CLIENT_SECRET=sho8Q~sanlYEX3SKXjYJb0NSXL.gPRpdi63-tcmp
AZURE_AUTHORITY=https://login.microsoftonline.com/ed97e9bb-e119-4bd4-ab00-307d64bdf908

# SAP S/4HANA Configuration
SAP_USERNAME=INDUS_OPEN_ORDER
SAP_PASSWORD=w6fo3zfq/bDYr}8>BU@{i3oFd[dq#Zv\/eL&}SKF
SAP_SALES_ORDER_API_URL=https://my409486-api.s4hana.cloud.sap/sap/opu/odata/sap/YY1_INDUSOPENORDERAPI_CDS/YY1_IndusOpenOrderAPI
SAP_STOCK_API_URL=https://my409486-api.s4hana.cloud.sap/sap/opu/odata/sap/API_MATERIAL_STOCK_SRV/A_MatlStkInAcctMod

# SharePoint Configuration
SHAREPOINT_SITE_ID=201c767f-23cc-4eff-b76c-47a275706531,094b21f9-6ed4-47c3-a751-3b217a18b98e
SHAREPOINT_FILE_PATH=Indus Open Order Report for trial.xlsx
